<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PcmLibraryWindowsForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PcmLibraryWindowsForms.Properties.Settings>
            <setting name="DeviceCategory" serializeAs="String">
                <value>DeviceCategory</value>
            </setting>
            <setting name="J2534DeviceType" serializeAs="String">
                <value>J2534DeviceType</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>SerialPort</value>
            </setting>
            <setting name="SerialPortDeviceType" serializeAs="String">
                <value>SerialPortDeviceType</value>
            </setting>
            <setting name="DeviceCategorySerial" serializeAs="String">
                <value>DeviceCategorySerial</value>
            </setting>
            <setting name="DeviceCategoryJ2534" serializeAs="String">
                <value>DeviceCategoryJ2534</value>
            </setting>
            <setting name="Enable4xReadWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CanPort" serializeAs="String">
                <value />
            </setting>
        </PcmLibraryWindowsForms.Properties.Settings>
    </userSettings>
</configuration>